@import  './App.module.css';
/* Testimonials.module.css */
.testimonialCard {
    border: 2px solid rgba(8, 54, 115, 0.764); /* Light gray border */
    border-radius: 8px;
    padding: 15px;
    transition: box-shadow 0.3s ease;
    background-color: white;
    color: #002451;
    transition: 0.3s;
  }

hr{
  width: 70%;
  margin-left:15%;
  /* margin: 50px 0; */
}
  .testTitle{
    color: black;
    letter-spacing: 1px;
    margin: -10px 0 50px 0;
    text-align: center;
}
  
  .testimonialCard:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Shadow effect on hover */
  }
  
  .testimonialImage {
    width: 70px; /* Set a specific width for the images */
    height: 70px; /* Set a specific height for the images */
    border: 1px solid #002451;
    object-fit: cover;
  }
  

  .cardText{
    color: #002451;
  }

  .testimonialCard:hover {
    transform: scale(1.05);
    box-shadow: 3px 3px 8px rgba(38, 81, 191, 0.61);
    border: 2px solid white;
    }
    
.cardTitle{
  background-color:rgba(10, 43, 142, 0.543);
  padding: 10px 17px;
  border-radius: 50px;
  border: 1px solid #002451;
  color: white;
}