
.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    padding: 10px;
    margin: 20px;
    gap: 20px;
  /* align-content:  center; */
  }
  
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0e2885e0;
    border-radius: 10px;
    width: 20%; /* Adjusted width for two cards in a row */
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgb(248, 247, 247);
    transition: transform 0.3s, box-shadow 0.3s;
    border: 2px solid rgb(169, 170, 172);
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px #eae8e8;
  }
  
  .cardImage {
    width: 100%; /* Make the image responsive */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px 10px 0 0; /* Rounded corners for the top */
    border-radius: 10px;

  }
  
  .card h3 {
    font-size: 1.2rem;
    margin: 10px 0;
    color: white;
    background-color: #053a7c8b;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.114);
  }
  
  .card p {
    font-size: 0.8rem;
    color: #f6f9fa;
    opacity: 0.9;
  }
  
  .learnMore {
    background-color: #032a5a;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .learnMore:hover {
    background-color: white;
    color: #002451;
  }
  
 