/* src/components/Dashboard.css */

.dashboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    gap: 20px;
    padding: 20px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .dashboard-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #012f6b;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    border: 2px solid white;
  }
  
  .dashboard-item:hover {
    transform: scale(1.03);
    box-shadow: 5px 5px 9px #012f6bc4;
    cursor: pointer;
  }
  
  .icon {
    font-size: 2rem;
    height:50px;
    width: 62px;
    padding: 0 5px 10px 0;
    /* text-align: center; */
    background-color: rgba(255, 255, 255, 0.92);
    padding: 2px 7px;
    border-radius: 50%;
    border: 2px solid #457fbf;
  }
  
  .label {
    margin-top: 8px;
    font-size: 1rem;
    color: white;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.733);
    background-color: #002e6a8c;
    padding: 5px 10px 10px 10px;
    border-radius: 40px;
    opacity: 0.85;
    transition: 0.2s;
  }
  .label:hover{
    opacity: 1;
    background-color: white;
    color: #002451;
    border: 1px solid #002451;
  }
  .agentdashboardheading{
    margin: 10px;
  }
  .alignment{
    text-align: center;
  }
  .dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .policy-buttons {
    display: flex;
    gap: 10px;
  }
  
  .btn {
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .create-btn {
    background-color: #4CAF50;
    color: white;
  }
  
  .create-btn:hover {
    background-color: #45a049;
  }
  
  .update-btn {
    background-color: #2196F3;
    color: white;
  }
  
  .update-btn:hover {
    background-color: #0b7dda;
  }
  
  .delete-btn {
    background-color: #f44336;
    color: white;
  }
  
  .delete-btn:hover {
    background-color: #da190b;
  }
  