/* @import  './App.module.css'; */
.nfooter {
    /* padding: 1rem; */
    height: 30px;
    padding: 20px;
    position: absolute;
    bottom: 0;
    left:300px;
    margin-bottom: 20px;

}
.footer p{
    text-align: center;
    color: #002452;
}