/* UpdatedProducts.css */
.updated-dashboard-container {
    text-align: center;
    padding: 20px;
    background-color: #f5f5f5;
    min-height: 100vh;
  }
  
  .updated-dashboard-header {
    margin-bottom: 30px;
  }
  
  .updated-card-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    color: white;
  }
  
  .updated-card {
    background-color: #002451;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    transition: transform 0.3s ease;
  }
  
  .updated-card-title {
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: white;
    padding: 5px;
    border-radius: 30px;
  }
  
  .updated-card ul {
    list-style-type: disc;
    padding-left: 20px;
    text-align: left;
  }
  
  .updated-card-point {
    margin-bottom: 8px;
    color: white;
    line-height: 1.6;
  }
  
  .updated-card:hover {
    transform: scale(1.05);
    border: 3px solid blue;
  }
  